*{
    margin:0;
    padding: 0;

}
/* ._cb123{
    width:1920px;
    height:700px;
    background-color: cadetblue;
    /* display: flex; */
    /* display: inline; */
    /* flex-direction: column; */

 */
 body{
    backdrop-filter: blur(5px);
 }

._bm1234zm{
    width:1265px;
    height:1200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(900px);

}
._bf1234zm{
    width:900px;
    height:1200px;
    /* background-color: cadetblue; */
}
._hb123zm{
    margin-top: 20px;
    width:900px;
    height:70px;
    /* background-color: #fc8019; */
    display: flex;

}
._hm1234zm{
    padding-top: 30px;
    width:850px;
    height:70px;
    /* background-color: chartreuse; */
    text-align: start;
}
#headinghg112zm{
    color: rgb(64, 62, 62);
}
._hv123zm{
    width:850px;
    height:180px;
    /* background-color: antiquewhite; */
    margin-top: 20px;
}
._me1234zm{
    width:800px;
    height:160px;
    /* background-color: aquamarine; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
._d111zm{
    width:800px;
    margin-top: 10px;
    height:25px;
    /* background-color: aliceblue; */
    display: flex;

}
._lt12zm{
    display: flex;
    /* margin-top: 10px; */

}
._lg11zm{
    width:20px;
    height:16px;
    color: green;
    margin-left: 10px;
}
._ct11zm{
    width:200px;
    height:25px;
    color:black;
    font-size: 16px;
    margin-left: 10px;
}
._ce121zm{
    width:750px;
    height:30px;
    /* background-color: brown; */
    font-size: 17px;
    margin-top: 10px;
    margin-left: 10px;
}

._cs98zm{
    color:red;
    text-decoration: underline;
}
._ot121zm{
    width:800px;
    height:40px;
    /* background-color: coral; */
    margin-top: 10px;
    /* margin-left: 10px; */
    display:flex;
    flex-direction: column;
    font-size: 16x;
    border-bottom: 1px solid rgb(251, 244, 244);
}
#Szm{
    margin-left: 10px;
}
.ab12zm{
    font-weight: 500;
    margin-left: 10px;
}
.cyclezm{
    width: 800px;height:20px;
    /* background-color: beige; */
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
}
.left-cyclezm{
    margin-top: 10px;
    width: 10%;
    height:20%;
    margin-left: 10px;
}
.right-cyclezm{
    /* background-color: pink; */
    margin-left: -60px;
    margin-top: 10px;
}
._bs1165zm{
    margin-top: 20px;
    width:800px;
    height:600px;
    /* background-color: chocolate; */
}
._mu19zm{
    width:800px;
    height:40px;
    /* background-color: beige; */
}
._hd18zm{
    width:100px;
    height:30px;
    margin-top: 20px;
    /* background-color: #686b78; */
}
#h56zm{
    margin-top: 10px;
    font-size: 20px;
    color: #1b1b1c;
    font-weight: 200;
    margin-left: 10px;
    font-family: cursive;
}
._fy67zm{
    width:800px;
    height:600px;
    /* background-color: rgb(170, 128, 52); */
    display: flex;
    flex-direction: column;

}
._up90zm{
    width:800px;
    height: 900px;
    background-color:white;
}
.food-divzm{
    margin-top: 25px;
    /* background-color: yellowgreen; */
    width: 800px;height:150px;
    display: flex;
    border:none;
    border-bottom: 1px solid rgb(187, 186, 186);
 
}
.left-foodzm{
    width: 70%;height:100%;
    /* background-color: peachpuff; */
}
.icon-foodzm{
    color:green;
}
._fe1zm{
    font-size: larger;
    font-weight: 500;
    margin-left: 10px;
}
._pf1zm{
    font-size: larger;
    font-weight: 400;
    margin-left: 10px;
}
._fd1zm{
    margin-top: 10px;
    margin-left: 10px;
}
.right-foodzm{
    width: 30%;
    height:100%;
    /* background-color: orange; */
}
._if1zm{
    width: 200px;
    height: 140px;
    background-image: url('img/pizza.jpg');
    background-size: cover;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
}


._ifd1zm{
    margin-left: 10px;
}
._fe2zm{
    font-size: larger;
    font-weight: 500;
    margin-left: 10px;
}
._pf2zm{
    font-size: larger;
    font-weight: 400;
    margin-left: 10px;
}
._fd2zm{
    margin-top: 10px;
    margin-left: 10px;
}
._if2zm{
    width: 200px;
    height: 140px;
    background-image: url('img/burger.webp');
    background-size: cover;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
}


._fe3zm{
    font-size: larger;
    font-weight: 500;
    margin-left: 10px;
}
._pf3zm{
    font-size: larger;
    font-weight: 400;
    margin-left: 10px;
}
._fd3zm{
    margin-top: 10px;
    margin-left: 10px;
}
._if3zm{
    width: 200px;
    height: 140px;
    background-image: url('img/noodles.jpg');
    background-size: cover;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
}


._fe4zm{
    font-size: larger;
    font-weight: 500;
    margin-left: 10px;
}
._pf4zm{
    font-size: larger;
    font-weight: 400;
    margin-left: 10px;
}
._fd4zm{
    margin-top: 10px;
    margin-left: 10px;
}
._if4zm{
    width: 200px;
    height: 140px;
    background-image: url('img/manchurian.jpg');
    background-size: cover;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
}

#addzm{
    width:80px;
    height:30px;
    font-size: 20px;
    text-align: center;
    color:#fea116;
    margin-left: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 6px;
    border: none;
    background-color: rgb(248, 246, 243);
    font-weight: 600;
    position: absolute;
    margin-top: -30px;
}
#addzm:hover{
    background-color: #fea116;
    color:white;
}